<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id='app'>
        <div v-if='show'>{{content}}</div>
        <div v-show='show'>{{content}}</div>
    </div>
    <div id='app2'>
        <div v-if='show === "a"'>A</div>
        <div v-else-if='show === "b"'>B</div>
        <div v-else>Others</div>
    </div>
    <script>
        var vm = new Vue({
            el : '#app2',
            data : {
                content : 'hello world',
                show : 'a'
            }
        })
        //总结：
        //1、v-if和v-show的区别：v-if是操作dom元素的,为true就增加dom元素，为false就删除dom元素，开销比较大
        //v-show是为false就加上disabled而已，开销较小
        //2、v-if后面跟上的js表达式
    </script>
</body>
</html>